
.tabbs{
    font-size: 18px;
    padding: 5px;
    font-weight: 700;
  }

  /* .tabbs:hover{
    background-color: rgba(0, 0, 0, 0.669);
    color: white;
    
  } */

  @keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.fade-in {
    animation: fadeIn 5s ease-in-out forwards;
}
@keyframes slideIn {
  from {
      transform: translateX(50%);
      opacity: 0;
  }
  to {
      transform: translateX(0);
      opacity: 1;
  }
}

.slide-in {
  animation: slideIn 0.5s ease-out forwards;
}

